.animate-removal {
  opacity: 0;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  transition:
    opacity 0.25s,
    max-height 0.3s 0.1s,
    padding 0.3s 0.1s,
    margin 0.3s 0.1s;
}
